/*
Custom overrides for the GroWNC viewer
*/

/*
Global Styles
*/
body, td, th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

a {
    color: #000000;
    text-decoration: none;
}

/*
Header Styles
*/
#titleBar {
    background: #6c9d30;
}

#titleBar h2 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -1px;
}

#header {
    background: #fff;
    border-bottom:thick solid #6c9d30;
}

/*
Footer Styles
*/

#footer {
    background: #00aeef;
    color: #fff;
}

#footer a {
    color: #fff;
    border-right: 0;
}

/*
Phone Portrait
*/
@media (max-width: 480px) {
    #titleBar {
        font-size: .6em;
        text-align: center;
    }

    #findAreaLabel, #mapBase strong {
        font-size: 9pt;
    }

    #baseCombo {
        width: 70px;
    }

    #findArea {
        width: 105px;
    }

    #footer {
        font-size: 7pt;
    }
}

/*
Phone Landscape
*/
@media (min-width: 481px) and (max-width: 650px) {
    #footer {
        font-size: 7pt;
    }
}